<table class="table">
	<tr>
		<td><span>First Name:</span></td>
		<td><input type="text" ng-model="info.name.first"></td>
	</tr>
	<tr>
		<td><span>Last Name:</span>
		<td><input type="text" ng-model="info.name.last"></td>
	</tr>
	<tr>
		<td><span>Street:</span></td>
		<td><input type="text" ng-model="info.location.street"></td>
	</tr>
	<tr>
		<td><span>City:</span></td>
		<td><input type="text" ng-model="info.location.city"></td>
	</tr>
	<tr>
		<td><span>State:</span></td>
		<td><input type="text" ng-model="info.location.state"></td>
	</tr>
	<tr>
		<td><span>Phone:</span></td>
		<td><input type="text" ng-model="info.cell"></td>
	</tr>
</table>